@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');
@import "@fontsource/dm-sans";

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-family: 'DM Sans';
  --web-theme: rgb(232, 85, 232);
}


main.main {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100%;
}

.sidebar {
  height: 100vh;
  height: 100dvh;
  position: sticky;
  top: 0;
}

.text-center {
  text-align: center;
}

.caption {
  font-size: 12px;
  font-weight: lighter !important;
}