@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-family: 'Montserrat', sans-serif;
}


main.main {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100%;
}

.sidebar {
  height: 100vh;
  height: 100dvh;
  position: sticky;
  top: 0;
}

.children {
  height: 3000px;
}